.compare-wrapper {
  width: 100%;
}

.selector-box {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.dual-wrapper {
  display: flex;
  height: calc(100vh - 100px);
}

.panel {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}

.right-panel {
  border-right: none;
}
